<div class='w-2/3 m-auto mb-10'>
  <div class='text-amber-dark m-auto'>
    <div id='calender_year'>
      <p><%= calender_year %>年度</p>
    </div>
    <div class='flex flex-wrap justify-center text-center'>
      <% (4..12).each do |n| %>
        <div class='w-1/4'>
          <div id='calender_month' class='border'>
            <%= "#{n}月" %>
          </div>
          <div class='h-20 border'>
            <% if @stamps.find_by(stamped_at: Date.parse("#{calender_year}/#{n}/1"))&.payed? %>
              <div class='flex justify-center items-center h-full'>
                <%= image_tag 'payed_stamp.png', size: '80x80' %>
              </div>
            <% elsif @stamps.find_by(stamped_at: Date.parse("#{calender_year}/#{n}/1"))&.complete? %>
              <div class='flex justify-center items-center'>
                <%= image_tag 'complete_stamp.png', size: '80x80' %>
              </div>
            <% else %>
              <p>-</p>
            <% end %>
          </div>
        </div>
      <% end %>
      <% (1..3).each do |n| %>
        <div class='w-32'>
          <div id='calender_month' class='border'>
            <%= "#{n}月" %>
          </div>
          <div class='h-20 border'>
            <p>-</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>