<h1 class='text-3xl text-amber-dark text-center mb-5'>入金登録</h1>

<div class='text-center'>
  <%= form_with model: @payment_collection, url: child_payment_collections_path(@child.id), local: true do |form| %>
    <div class='mb-10'>
      <%= form.label :paymented_at %>
      <%= form.date_field :paymented_at, class: 'bg-white border-2 border-amber-dark rounded py-2 px-4 text-gray-700 focus:outline-none focus:border-purple-500' %>
    </div>
    <%= form.fields_for :payments do |f| %>
      <div class='flex justify-center mb-5'>
        <div class='mr-5'>
          <%= f.label :item %>
          <%= f.text_field :item, class: 'bg-white border-2 border-amber-dark rounded w-2/3 py-2 px-4 text-gray-700 focus:outline-none focus:border-purple-500' %>
        </div>
        <div>
          <%= f.label :amount %>
          <span>
            <%= f.text_field :amount, class: 'bg-white border-2 border-amber-dark rounded w-2/3 py-2 px-4 text-gray-700 focus:outline-none focus:border-purple-500' %>円
          </span>
        </div>
      </div>
    <% end %>
    <%= form.hidden_field :child_id, value: @child.id %>
    <%= form.submit '登録する', class: 'py-2 px-3 ml-5 rounded-3xl bg-green-300 shadow-md hover:shadow-sm transition-all outline-none text-white text-lg' %>
  <% end %>
</div>