<div class='mb-24'>
  <div class='mb-5 text-center'>
    <p class='text-3xl text-amber-dark'>教育費シュミレーション</p>
  </div>

  <div class='m-auto'>
    <div>
      <%= form_with model: result, url: path, local: true do |f| %>
        <% if errors.present? %>
          <div class='text-red-500 text-center'>
            <ul class='mb-0'>
              <% errors.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class='mt-5'>
          <div class='w-1/2 md:w-2/3 rounded-lg border border-amber-dark text-amber-dark bg-amber-card pt-2 m-auto'>
            <h2 class="text-xl text-center mb-2">STEP1</h2>
            <div class="bg-white rounded-b-lg px-4">
              <div class='py-5 text-center'>
                <p class='text-md text-amber-dark'>お子様のご年齢は？</p>
                <%= f.select :age, age_options, { selected: "#{@result.age}才" }, { class: 'border-2 border-gray-200 rounded-md p-1 hover:border-blue-400' } %>
              </div>
            </div>
          </div>
        </div>

        <div class='mt-10'>
          <div class='w-1/2 md:w-2/3 rounded-lg border border-amber-dark text-amber-dark bg-amber-card pt-2 m-auto'>
            <h2 class="text-xl text-center mb-2">STEP2</h2>
            <div class="bg-white rounded-b-lg px-4">
              <div class='school-types-form py-5 text-center'>
                <p class='text-md text-amber-dark mb-5'>希望進路を選択してください。</p>
                <% school_types = [
                  { type: 'nursery_school', label: '保育園（認定こども園を含む）', age: 6 },
                  { type: 'kindergarten', label: '幼稚園', age: 6 },
                  { type: 'primary_school', label: '小学校', age: 12 },
                  { type: 'junior_high_school', label: '中学校', age: 15 },
                  { type: 'high_school', label: '高校', age: 18 },
                ] %>

                <% school_types.each do |school_type| %>
                  <% next if @result.age > school_type[:age] %>
                  <div class="form-<%= school_type[:type] %>-group mb-5">
                    <p class='text-md text-amver-dark mb-3'><%= school_type[:label] %></p>
                    <div class='flex justify-center'>
                      <div class='mx-3'>
                        <%= f.radio_button school_type[:type], 'public', id: "result_#{school_type[:type]}_public", class: 'sr-only' %>
                        <%= label_tag "result_#{school_type[:type]}_public", '公立', class: "school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400" %>
                      </div>
                      <div class='mx-3'>
                        <%= f.radio_button school_type[:type], 'private', id: "result_#{school_type[:type]}_private", class: 'sr-only' %>
                        <%= label_tag "result_#{school_type[:type]}_private", '私立', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                      </div>
                      <% if school_type[:type] == 'nursery_school' || school_type[:type] == 'kindergarten' %>
                        <div class='mx-3'>
                          <%= f.radio_button school_type[:type], 'unselected', id: "result_#{school_type[:type]}_unselected", class: 'sr-only' %>
                          <%= label_tag "result_#{school_type[:type]}_unselected", '通う予定はない', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                        </div>
                      <% end %>
                    </div>
                    <% if school_type[:type] == 'nursery_school' %>
                      <div class="mb-5">
                        <label class="text-md text-amver-dark mb-3 block" for="nursery_school_from_age">入園年（保育園）</label>
                        <%= f.select :from_age_for_nursery_school, (1..5).to_a.map { |n| [n.to_s + '才', n] }, { include_blank: true }, { class: 'border-2 border-gray-200 rounded-md p-1 hover:border-blue-400' } %>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <div class='form-university-group mb-5'>
                  <p class='text-md text-amver-dark mb-3'>大学</p>
                  <div class='flex justify-center flex-wrap'>
                    <div class='mx-3 my-3'>
                      <%= f.radio_button :university, 'publicArts', id: "result_university_public_arts", class: 'sr-only' %>
                      <%= label_tag "result_university_public_arts", '公立文系', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                    </div>
                    <div class='mx-3 my-3'>
                      <%= f.radio_button :university, 'publicScience', id: "result_university_public_science", class: 'sr-only' %>
                      <%= label_tag "result_university_public_science", '公立理系', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                    </div>
                    <div class='mx-3 my-3'>
                      <%= f.radio_button :university, 'privateArts', id: "result_university_private_arts", class: 'sr-only' %>
                      <%= label_tag "result_university_private_arts", '私立文系', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                    </div>
                    <div class='mx-3 my-3'>
                      <%= f.radio_button :university, 'privateScience', id: "result_university_private_science", class: 'sr-only'%>
                      <%= label_tag "result_university_private_science", '私立理系', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                    </div>
                    <div class='mx-3 my-3'>
                      <%= f.radio_button :university, 'unselected', id: "result_university_unselected", class: 'sr-only' %>
                      <%= label_tag "result_university_unselected", '通う予定はない', class: 'school-type-label px-3 py-2 w-16 rounded-md text-amber-dark border border-yellow-300 hover:bg-yellow-300 hover:border-blue-400' %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class='mt-10'>
          <div class='w-1/2 md:w-2/3 rounded-lg border border-amber-dark text-amber-dark bg-amber-card pt-2 m-auto'>
            <h2 class="text-xl text-center mb-2">STEP3</h2>
            <div class="bg-white rounded-b-lg px-4">
              <div class='py-5 text-center'>
                <p class='text-md text-amber-dark mb-5'>仕送り（自宅外通学）予定金額</p>
                <%= f.select :living_alone_funds, living_alone_funds_options, { selected: @result.living_alone_funds == 0 ? '仕送りの予定はない' : "#{@result.living_alone_funds}万円" }, { class: 'border-2 border-gray-200 rounded-md p-1 hover:border-blue-400' } %>
              </div>
            </div>
          </div>
        </div>

        <div class='mt-10 text-center'>
          <%= f.submit 'シュミレーション結果', class: 'px-3 py-2 rounded-md bg-amber-vivid text-white' %>
        <div>
      <% end %>
        
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const labels = document.querySelectorAll('.school-type-label');

    labels.forEach( function(label) {
      const radioButton = document.getElementById(label.getAttribute('for'));
      if (radioButton.checked){
        label.classList.add('bg-yellow-300');
      }

      radioButton.addEventListener('change', function() {
        const btn = document.getElementById(label.getAttribute('for'));
        const schoolType = label.getAttribute('for').split('_')[1];
        const otherlabels = document.querySelectorAll(`[for^="result_${schoolType}`);

        if (this.checked) {
          otherlabels.forEach( function(otherlabel) {
            otherlabel.classList.remove('bg-yellow-300');
          });
          label.classList.add('bg-yellow-300');
        }
      });
    });
  });

  // 年齢選択が変更されたときの処理
  const ageSelect = document.querySelector('#result_age'); // ageセレクトボックスのIDを指定
  const schoolTypesForm = document.querySelector('.school-types-form'); // 希望進路フォームの親要素

  document.addEventListener('DOMContentLoaded', function() {
    const ageOptionValue = ageSelect.value;

    let selectedAge = 0;
    if (ageOptionValue !== '出産前') {
      selectedAge = parseInt(ageOptionValue, 10);
    }
    
    // 希望進路フォームの表示・非表示を切り替える
    schoolTypesForm.querySelectorAll('.form-nursery_school-group, .form-kindergarten-group, .form-primary_school-group, .form-junior_high_school-group, .form-high_school-group')
      .forEach(formGroup => {
        const schoolType = formGroup.classList[0].split('-')[1];
        const school_types = { 'nursery_school': 6, 'kindergarten': 6, 'primary_school': 12, 'junior_high_school': 15, 'high_school': 18 }
        const schoolTypeData = school_types[schoolType]

        if (schoolTypeData > selectedAge) {
          formGroup.style.display = 'block';
        } else {
          formGroup.style.display = 'none';
        }
      });
  });

  ageSelect.addEventListener('change', () => {
    const ageOptionValue = ageSelect.value;

    let selectedAge = 0;
    if (ageOptionValue !== '出産前') {
      selectedAge = parseInt(ageOptionValue, 10);
    }
    
    // 希望進路フォームの表示・非表示を切り替える
    schoolTypesForm.querySelectorAll('.form-nursery_school-group, .form-kindergarten-group, .form-primary_school-group, .form-junior_high_school-group, .form-high_school-group')
      .forEach(formGroup => {
        const schoolType = formGroup.classList[0].split('-')[1];
        const school_types = { 'nursery_school': 6, 'kindergarten': 6, 'primary_school': 12, 'junior_high_school': 15, 'high_school': 18 }
        const schoolTypeData = school_types[schoolType]

        if (schoolTypeData > selectedAge) {
          formGroup.style.display = 'block';
        } else {
          formGroup.style.display = 'none';
        }
      });
  });
</script>
