<h1 class='text-3xl text-amber-dark text-center mb-5'>ユーザー登録確認画面</h1>
<div class='w-2/3 md:w-1/2 rounded-lg border border-amber-dark text-amber-dark bg-amber-card pt-2 m-auto shadow-md'>
  <h2 class="text-xl text-center mb-2">ユーザー情報</h2>
  <div class="bg-white rounded-b-lg px-4 md:px-16 lg:px-36 py-12">
    <p class='mb-3'>ユーザー名：<%= @form.name %></p>
    <p class='mb-3'>パスワード：*****</p>
    <p>利用規約とプライバシーポリシーに同意する</p>

    <div class='flex justify-around items-center mt-12'>
      <%= form_with model: @form, local: true do |f| %>
        <%= f.submit class: 'py-3 px-5 rounded-3xl bg-green-300 shadow-md hover:shadow-sm transition-all outline-none text-white text-lg' %>
      <% end %>

      <%= link_to new_user_path do %>
        <%= button_tag '戻る', class: 'py-2 px-5 rounded-3xl bg-gray-200 shadow-md hover:shadow-sm transition-all outline-none text-amber-dark text-md' %>
      <% end %>
    </div>
  </div>
</div>