<div class='w-4/5 m-auto mt-5 p-3 border-amber-dark border-2 text-amber-dark rounded-lg'>
  <div class='flex'>
    <%= image_tag image, size: '100x100' %>
    <div class='ml-5'>
      <p><%= event %>時</p>
      <div class='flex'>
        <div class='mr-10'>
          <p>必要な額：</p>
          <p class='text-2xl'><%= child.result.each_stage_cost[event_sym].to_s(:delimited) %></p>
        </div>
        <div class='mr-10'>
          <p>予定貯金額：</p>
          <p class='text-md'><%= child.decorate.hold_amount(age) %></p>
        </div>
        <div>
          <p>差額：</p>
          <p class="text-<%= child.decorate.diff_saved_and_cost(age, event_sym).to_i.negative? ? 'red-500' : 'green-500' %>"><%= '+' if child.decorate.diff_saved_and_cost(age, event_sym).to_i.positive? %><%= child.decorate.diff_saved_and_cost(age, event_sym) %></p>
        </div>
      </div>
    </div>
  </div>
</div>