<% if current_user.children.empty? %>
  <%= link_to 'お子様の情報を登録', new_child_path, class: 'px-3 py-2 text-white bg-amber-vivid rounded-md' %>
<% else %>
  <div class='w-2/3 rounded-lg border border-yellow-200 text-amber-dark bg-yellow-200 p-4 m-auto'>
    <div class='flex justify-between mb-3'>
      <h1 class='text-3xl text-amber-dark'><%= Date.today.year %>年<%= Date.today.month %>月</h1>
      <%= link_to '入 金', '#', class: 'px-10 py-1 bg-amber-vivid text-white text-md text-align-center rounded-md shadow-md hover:shadow-sm' %>
    </div>
    <table class='w-full m-auto'>
      <tbody>
        <% @child.plans.each do |plan| %>
          <tr>
            <td class='w-1/3 text-amber-dark text-left pb-2'><%= plan.item %></td>
            <td class='w-1/3 text-amber-dark text-center pb-2'><%= plan.amount.to_s(:delimited) %>円</td>
            <td class='w-1/3 text-amber-dark text-right pb-2'><%= plan.payment_day %>日入金予定</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr class='border-amber-dark'>
    <p class='text-amber-dark text-center text-lg font-bold mt-2'><%= @child.plans.sum(:amount).to_s(:delimited) %>円</p>
  </div>
<% end %>