<h1 class='mb-5 text-3xl text-amber-dark text-center'>積立情報設定一覧</h1>

<% if @child.result.present? %>
  <p class='text-amber-dark text-center mb-5'>(目安積立額：　<%= @child.result.cost_per_month.to_s(:delimited) %>円)</p>
<% end %>

<% if @child.plans.empty? %>
  <div class='text-center'>
    <p class='text-amber-dark mb-5'>データはありません</p>
    <p class='text-red-500 text-sm'>毎月いくら積み立てるかの情報を登録しておきましょう。</p>
    <div class='mt-3'>
      <%= link_to '積立情報設定の新規登録', new_child_plan_path(@child), class: 'px-3 py-2 bg-amber-vivid text-white rounded-md shadow-md hover:shadow-sm' %>
    </div>
  </div>
<% else %>
   <p class='text-amber-dark text-center text-xl mb-5'>積立額：　<%= @child.plans.sum(:amount).to_s(:delimited) %>円</p>
  <table class='m-auto'>
    <thead class='bg-yellow-300'>
      <th class='px-5 py-3'>費目</th>
      <th class='px-5 py-3'>金額</th>
      <th class='px-5 py-3'>入金予定日</th>
      <th class='px-5 py-3'>自動入金設定</th>
      <th></th>
    </thead>
    <tbody class='text-center bg-yellow-100'>
      <% @plans.each do |plan| %>
        <tr>
          <td class='px-5 py-3'><%= plan.item %></td>
          <td class='px-5 py-3'><%= plan.amount.to_s(:delimited) %>円</td>
          <td class='px-5 py-3'>毎月<%= plan.payment_day %>日</td>
          <td class='px-5 py-3'><%= plan.is_auto ? 'on' : 'off' %></td>
          <td class='px-5 py-3'>
            <%= link_to '削除', plan_path(plan.id), method: :delete, id: "delete_button_for_plan_#{plan.id}", class: 'px-2 py-2 bg-red-500 text-white rounded-md shadow-md hover:shadow-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='mt-5 text-center'>
    <%= link_to '編集', child_plans_edit_path(@child), class: 'px-3 py-2 bg-green-300 text-white rounded-md shadow-md hover:shadow-sm' %>
  </div>
<% end %>