<html>
  <head>
    <title>Kokeibo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_page?(new_simulation_path) %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>
  </head>

  <body class='font-body'>
    <div class='w-full h-screen absolute bg-amber-light top-0 overflow-y-scroll relative'>
      <%= render 'shared/header' %>
      <div class='mt-16'>
        <%= render '/shared/flash_messages' %>
        <div class='flex'>
          <div class='w-1/4 min-h-screen'>
            <%= render 'shared/submenu' %>
          </div>
          <div class='w-3/4'>
            <p><%= @child.name %>ちゃん</p>
            <%= yield %>
          </div>
        </div>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>